<footer>
    <div>
  Developed by Jayant Paliwal
    </div>
    <div>
        <a href="" target="_blank">Go to Article</a>
        <a href="" target="_blank" class="ml">Download Source Code</a>
    </div>
</footer>