
<aside class="bg-darkgreen">
    <div class="sidebar-wrapper ng-scope">
        <div data-ui-sidebar="" class="sidebar">
            <div class="sidebar-nav">
                <ul class="nav">
                       
                            <li>
                                <a title="List" href="@Url.Action("Index", "Home")">
                                    <em class="sidebar-item-icon icon-pie-graph"></em>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                               <li>
                                <a title="List" id="LogOutFireBase" href="@Url.Action("LogOut", "Home")">
                                    <em class="sidebar-item-icon fa fa-lock"></em>
                                    <span>Log Out</span>
                                </a>
                            </li>
                </ul>

            </div>
        </div>
    </div>
</aside>

