.loading-spinner {
    position: absolute;
    z-index: 1000;
    text-align: center;
    width: 100%;
    height: 71%;
    background-color: rgba(255,255,255,0.8);
}

    .loading-spinner img {
        position: relative;
        top: 30%;
        width: 60px;
    }

.pagination .page {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

    .pagination .page.inactive {
        color: gray;
    }

    .pagination .page.current {
        font-weight: bold;
        color: red;
    }

.top {
    margin-top: 20px;
}

.bottomBorder {
    border: 1px solid grey;
    margin-bottom: 10px;
}

.sidebar > .sidebar-nav > .nav > li > ul > li > a > .sidebar-item-icon {
    float: none;
}

.sidebar > .sidebar-nav > .nav > li > a > .sidebar-item-icon {
    float: none !important;
}

#bg-white, .bg-darkgreen {
    background-color: #193048 !important;
    color: #CCFFFF !important;
}

    #bg-white, .bg-darkgreen a {
        color: #CCFFFF !important;
    }

.bg-primaryHeader {
    background-color: #e3eaf3 !important;
    color: #003333 !important;
}

    .bg-primaryHeader a {
        color: #003333 !important;
    }

.btn-CreditRequest {
    color: #fff !important;
    background-color: #66cc33;
    border-color: #66cc33;
}

.btn-AddInvoice {
    color: #fff !important;
    background-color: #3366cc;
    border-color: #3366cc;
}

.btn-CustomerEdit {
    color: #fff !important;
    background-color: #ffcc33;
    border-color: #ffcc33;
}

.btn-CustomerSearch {
    color: #fff !important;
    background-color: #3366cc;
    border-color: #3366cc;
    white-space: inherit;
}

.btn-CreditRequestSave {
    color: #fff !important;
    background-color: #3366cc;
    border-color: #3366cc;
}

.step.step-success {
    background-color: #66cc33 !important;
    color: #fff;
}

.bg-danger.bg-light {
    background-color: #cc3333 !important;
}

.btn-danger {
    color: #fff;
    background-color: #cc3333 !important;
    border-color: #cc3333 !important;
}

.btn-successnew {
    color: #fff !important;
    background-color: #66cc33;
    border-color: #66cc33;
}

alert-amber {
    background-color: #FFCC33 !important;
    border-color: #FFCC33 !important;
    color: #fff;
}

.box-placeholderQB {
    margin-bottom: 12px;
    padding: 15px;
    border: 1px dashed #a0aab2;
    background: #ccffff;
    color: #444;
}

.btn-warning {
    color: #fff !important;
    background-color: #ffcc33 !important;
    border-color: #ffcc33 !important;
}

.bg-success {
    background-color: #66cc33 !important;
    color: #e3f3e4;
}

.customsidebar {
    padding-left: 12px !important;
}

.logoff {
    margin-left: -8px;
}

    .logoff span {
        padding-left: 5px;
    }

.side-dashbord {
    position: relative;
    left: -4px;
}

.side-setting {
    margin-left: -2px;
}

.side-quickbook {
    padding-left: 3px;
}

.side-quickbook-inner {
    padding-left: 8px;
}

.side-status {
    margin-left: 0px;
}

.side-statusa {
    margin-left: 2px;
}
    #invoicesTable td:nth-child(2n) {
        width: 195px;
    }

    #invoicesTable td:nth-child(3n) {
        width: 119px;
    }

    #invoicesTable td:nth-child(4n) {
        width: 115px;
    }

    #invoicesTable td:nth-child(5n) {
        width: 69px;
    }

    #invoicesTable td:nth-child(6n) {
        white-space: nowrap;
    }

    /*#invoicesTable td:nth-child(7n) {
        width: 117px;
    }*/
    #invoicesTable td:nth-child(8n) {
        width: 117px;
    }

.add-invoices-head {
    margin-top: 12px;
}
    .add-invoices-head .text-nowrap {
    line-height:30px;
    }
.sidebar-arrow {
    white-space: normal !important;
}

.popup-footer {
    margin-top: 120px;
}

img.logo-block {
    height: 81px;
    margin-bottom: 15px;
}

.app-container > header + section {
    margin-left: 0;
}

.shadow-primary {
    -moz-box-shadow: 0 0 20px 5px #3f51b5;
    -webkit-box-shadow: 0 0 20px 5px #3f51b5;
    box-shadow: 0 0 20px 5px #3f51b5;
}

.shadow-danger {
    -moz-box-shadow: 0 0 20px 5px #e80c4d;
    -webkit-box-shadow: 0 0 20px 5px #e80c4d;
    box-shadow: 0 0 20px 5px #e80c4d;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

}

#selectDebtor {
    color: #ffffff;
    padding: 10px;
}

    #selectDebtor:hover {
        text-decoration: underline !important;
        padding: 10px;
        color: #ffffff;
    }

.remove-style {
    list-style-type: none;
    margin-left: 0px !important;
    padding-left: 1px !important;
}

.invoice-error .validation-summary-errors {
    background-color: #f34235;
    color: #fff !important;
}

    .invoice-error .validation-summary-errors ul {
        padding: 5px 0px 5px 5px;
        font-size: 13px;
        font-weight: normal;
    }

.invoice-error {
    background-color: #f34235;
    color: #fff !important;
}

.text-break {
    white-space: nowrap;
}

.btn-quickbook-warning {
    color: #fff !important;
    background-color: #d96d00 !important;
    border-color: #d96d00 !important;
    margin-bottom: 10px !important;
    margin-top: -3px !important;
}

.quickbook .radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .btn-intuit {
    height:34px;
    }
    .cr-desk {
        top: 0px !important;
        right: 0 !important;
    }

    .st-desk {
        top: 0px !important;
        right: 0px !important;
    }

    .client-NOWaccountId {
        float: left !important;
        padding-top: 10px;
    }

    #brand-logo {
        height: 55px !important;
        display: inline !important;
        margin-top: -5px !important;
    }

    #mob-support-info {
        display: block !important;
        margin-top: -13px !important;
        font-size: 12px !important;
    }

    .topnavbar > .navbar-header {
        text-align: center !important;
    }

    .app-container > aside {
        top: 75px;
    }

    .popup-footer {
        margin-top: 5px;
    }
}

.client-NOWaccountId {
    float: right;
}

#mob-support-info {
    display: none;
    font-size: 14px;
}
